<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/2_Pivot_Table_y_Joins/clase-2-ejercicios.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>


# Clase 2: ejercicios prácticos

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

## Parámetros y extracción de datos

In [2]:
ESTIMACIONES_URL = "http://datos.agroindustria.gob.ar/dataset/9e1e77ba-267e-4eaa-a59f-3296e86b5f36/resource/95d066e6-8a0f-4a80-b59d-6f28f88eacd5/download/estimaciones-agricolas-al-30-09-2019.csv"
ESTIMACIONES_URL_S3 = "https://datasets-humai.s3.amazonaws.com/datasets/estimaciones_agricolas.zip"
ESTIMACIONES_PATH = "data/estimaciones-agricolas.csv"

In [3]:
converters = {
    "id_provincia": lambda x: str(x).zfill(2),
    "id_departamento": lambda x: str(x).zfill(3),
}

#estimaciones = pd.read_csv(ESTIMACIONES_URL, encoding="latin1", converters=converters)estimaciones = pd.read_csv(ESTIMACIONES_URL, encoding="latin1", converters=converters)
estimaciones = pd.read_csv(ESTIMACIONES_URL_S3, encoding="utf8", converters=converters)
#estimaciones.to_csv(ESTIMACIONES_PATH, encoding="utf8", index=False)
#estimaciones = pd.read_csv(ESTIMACIONES_PATH, converters=converters)

In [46]:
estimaciones.head(2)

,id_provincia,provincia,id_departamento,departamento,id_cultivo,cultivo,id_campaña,campaña,sup_sembrada,sup_cosechada,produccion,rendimiento
0,06,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/1970,3,3,10,3333
1,06,BUENOS AIRES,854,25 DE MAYO,1,Ajo,2,1970/1971,1,1,3,3000

## Ejercicio 1

Explorar descriptivamente el dataset de estimaciones agrícolas (https://datos.gob.ar/dataset/agroindustria-agricultura---estimaciones-agricolas) usando los elementos aprendidos en la clase 2, respondiendo las siguientes preguntas o mostrando:

* ¿Cuál es la producción total en toneladas estimada de todos los cultivos en la Argentina, cada año?
* ¿Cómo se distribuye el rendimiento (kg por hectárea) estimado promedio del cultivo de soja entre los departamentos que la siembran? ¿Qué tipo de distribución probabilística tiene? ¿Cuál es (y en qué departamento está) el rendimiento mínimo, mediano y máximo? ¿Cuál es el rendimiento promedio? ¿Hay valores potencialmente anómalos?
* ¿Cómo se distribuye la superficie sembrada de Papa? ¿Es una distribución probabilística similar a la de la soja? ¿El rendimiento en kg producidos por hectárea es similar entre los departamentos que la cultivan, se distribuye más o menos "equitativamente" que el de la soja? ¿Hay valores potencialmente anómalos?
* Generá una tabla donde cada cultivo sea una columna, cada fila un año (una campaña) y los valores sean la producción total.

In [47]:
estimaciones.columns = estimaciones.columns.str.strip()
total_toneladas = estimaciones[estimaciones.produccion > 0].pivot_table(
    index = ['provincia'],
    columns = ['campaña'],
    values = ['produccion'],
    aggfunc = 'count'
)
total_toneladas = total_toneladas.fillna('0')

In [42]:
#total_toneladas['promedio_anual'] = total_toneladas.loc[['produccion','y']].sum(axis=1)
#ESTAS TRATANDO DE CREAR UNA COLUMNA NUEVA CON EL PROMEDIO ANUAL POR PROVINCIA

In [48]:
total_toneladas.head()

             produccion                                                    \
campaña       1969/1970 1970/1971 1971/1972 1972/1973 1973/1974 1974/1975
provincia
BUENOS AIRES     1103.0    1078.0    1056.0    1022.0    1024.0     978.0
CATAMARCA         135.0     139.0     123.0      49.0      56.0      57.0
CHACO             212.0     203.0     215.0     217.0     213.0     207.0
CHUBUT             22.0      17.0      17.0      17.0      17.0      17.0
CORDOBA           212.0     196.0     214.0     224.0     241.0     226.0

                                                      ...                      \
campaña      1975/1976 1976/1977 1977/1978 1978/1979  ... 2009/2010 2010/2017
provincia                                             ...
BUENOS AIRES    1001.0    1044.0    1058.0    1067.0  ...     712.0     724.0
CATAMARCA         66.0      67.0      70.0      69.0  ...      10.0      10.0
CHACO            194.0     175.0     204.0     183.0  ...     123.0     151.0
CHUBUT            17.0      17.0      17.0      17.0  ...         0         0
CORDOBA          232.0     227.0     224.0     222.0  ...     124.0     122.0

                                                                          \
campaña      2011/2012 2012/2013 2013/2014 2014/2015 2015/2016 2016/2017
provincia
BUENOS AIRES     735.0     756.0     755.0     800.0     765.0     838.0
CATAMARCA         10.0       9.0      11.0       9.0       9.0       9.0
CHACO            156.0     145.0     130.0     121.0     118.0     116.0
CHUBUT               0         0         0         0         0         0
CORDOBA          126.0     135.0     144.0     137.0     141.0     155.0


campaña      2017/2018 2018/2019
provincia
BUENOS AIRES     830.0     458.0
CATAMARCA         11.0       2.0
CHACO            112.0      37.0
CHUBUT               0         0
CORDOBA          149.0      67.0

[5 rows x 50 columns]