<a href="https://colab.research.google.com/github/MatiasManchino/CursoAnalisisdeDatos/blob/main/ejer1.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>


Para este ejercicio vamos a importar un conjunto de datos con el listado de colegios públicos de Bogotá del año 2016

# Ejercicios Pandas I

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://www.datos.gov.co/api/views/qijw-htwa/rows.csv?accessType=DOWNLOAD')

In [21]:
df.head()

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,INST DE BTO TEC COMERCIAL PITAGORAS ...,URBANA,KR 5 11 67,5665677 / 3429092,YOLANDA ARIAS CRUZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pitagoras@pitagoras.edu.co
1,2016,BOGOTA,GIMNASIO INFANTIL FEDERICO FROEBEL,URBANA,CL 32 SUR 52 A 54,7100349,SANDRA MILENA MENDEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,gimfedebel@hotmail.com
2,2016,BOGOTA,GIMNASIO INFANTIL LOS NIÑOS DEL MAÑANA,URBANA,CL 134 D 47 27,6010350,CLAUDIA BOCACHICA SAENZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,claudialindenibocachica@hotmail.com
3,2016,BOGOTA,COLEGIO FRANCISCO PRIMERO S.S. (IED),URBANA,KR 28 63 64,2126019 -- 2481271,JOSE CUSTODIO GALARZA MORENO,INSTITUCION EDUCATIVA,NaN,NaN,...,4,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,cedalemania12@redp.edu.co
4,2016,BOGOTA,COL SAN JUAN VIANETH ...,URBANA,KR 2 C 3 18 SUR,2804738 -- 4714934,GLORIA ESPERANZA CHUQUIN LAISECA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegiosanjuanviateh@hotmail.com -- colegiosan...

Warning: Total number of columns (30) exceeds max_columns (20) limiting to first (20) columns.

¿Cuáles son las columnas? ¿Cuántas filas tiene?

In [19]:
print('Hay', df.shape[0],'filas y',df.shape[1], 'columnas')

Hay 2404 filas y 30 columnas

Seleccionen los colegios donde la propiedad de la planta física sea de una persona natural o comunidad religiosa.

In [ ]:
propiedad = df.query('propiedad_Planta_Fisica == "COMUNIDAD RELIGIOSA" | \
                        propiedad_Planta_Fisica == "PERSONA NATURAL"')
propiedad

¿Hay alguno de estos colegios que sea para capacidades excepcionales?

In [60]:
capExcep = df.query('propiedad_Planta_Fisica == "COMUNIDAD RELIGIOSA" or \
                        propiedad_Planta_Fisica == "PERSONA NATURAL" and \
                        capacidades_Excepcionales != "CAPACIDADES EXCEPCIONALES"')
capExcep = capExcep[['propiedad_Planta_Fisica','capacidades_Excepcionales']].dropna()
capExcep

     propiedad_Planta_Fisica    capacidades_Excepcionales
1367         PERSONA NATURAL  TALENTO SUBJETIVO/ARTÍSTICO
2282         PERSONA NATURAL           TALENTO CIENTIFICO

¿Cuáles son los colegios que ofrecen todos los niveles educativos? ¿Qué idiomas ofrecen?

In [66]:
df_col = df[['nombreestablecimiento', 'niveles', 'idiomas']]
df_col.drop_duplicates()

impri = df_col.query('niveles == "PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIMARIA,PRIMERA INFANCIA"')
impri

,nombreestablecimiento,niveles,idiomas
5,COL SAN PATRICIO ...,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",INGLÉS
1031,INSTITUTO JUAN PABLO II,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",NaN
1065,COLEGIO TOMAS CARRASQUILLA (IED),"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",NaN
1450,COLOMBO BRITANICO - BILINGÜE INTERNACIONAL,"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",INGLÉS
2236,COLEGIO NUEVO HORIZONTE (IED),"PREESCOLAR,MEDIA,BÁSICA SECUNDARIA,BÁSICA PRIM...",NaN

In [72]:
type(impri['nombreestablecimiento'])
impri['nombreestablecimiento'][5]

'COL SAN PATRICIO                                                                                    '

In [78]:
colegios = [impri['nombreestablecimiento'][5], impri['nombreestablecimiento'][1450]]

print(f'El idioma de los colegios ', colegios, ' es ingles, el resto no tiene ')

El idioma de los colegios  ['COL SAN PATRICIO                                                                                    ', 'COLOMBO BRITANICO - BILINGÜE INTERNACIONAL']  es ingles, el resto no tiene