<a href="https://colab.research.google.com/github/MatiasManchino/CursoAnalisisdeDatos/blob/main/ResumenCurso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

#import warnings
#warnings.filterwarnings('ignore')

#%matplotlib inline

In [ ]:
### datasets

df1 = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv', sep='|')
df2 = 0
df3 = 0
df4 = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/dolar_oficial_ambito.csv')
df5 = 0



> Machete para estudiar

## 1.   **Clase 1**
- a) Consultas (**columnas, filas, cantidades, informacion, descripcion, muestra de datos**)
- b) Objetos fundamentales: **Series, DataFrame, Indices**
- c) Filtrados: **columnas, filas, posicion, nombre, condiciones (el d), mixtas**.
- d) Mascaras booleanas (operadores para evaluar condiciones **(==)**, operadores para sumar condiciones **(&, |)**)
- e) Boolean con **query()**
- f) Funciones de Agregación: **min, max, count, sum, prod, mean, median, mode, std, var**.
- g) Otros: p/ variables numericas: **describe()**, p/ variables categoricas: **value_counts()**
- h) Ordenar ascendente o descendente: **sort_values()**

In [ ]:
#a
print(df1.columns,'\n\n', df1.shape)
print('\n')
df1.info()
print('\n')
df1.describe()

In [ ]:
#b
#Serie
serie = pd.Series(['a','b','c']) 
print('Tipo de objetos que tiene ', serie.dtype)
print('Nombre ', serie.name)
print('Index ',serie.index)
print('Valores ',serie.values)

print('\n')

#Dataset
print('Columnas ', df1.columns) 
print('\nIndex ', df1.index)
print('\nDimensiones ',df1.shape)

print('\n')

#indices
ind = pd.Index([2, 3, 5, 7, 11])
print('\n', ind)

#ind[1] = 0 NO SE PUEDE PORQUE ES INMUTABLE

In [ ]:
#c
#por columnas:
porcolumnas = df1.loc[:,['Age','Survived']]
print(porcolumnas.head())

porcolumnas1 = df1[['Age','Survived']]
print(porcolumnas1.head())

#filas
filas = df1.loc[[1,8],:]
print(filas.head())

#posicion
posicion = df1 ['Age'][2]
print('\n',posicion)

In [ ]:
#d
#mascaras + condiciones & | ~

mascara = df1['Age'] < 3
print('\n', mascara) # false todo lo que no cumpla con la condicion

porcondiciones = df1[(df1['Age'] < 3) & (df1['Survived'] == 1)]
print('\n',porcondiciones)

In [ ]:
#e 
#Query
porquery = df1.query('Age < 3 & Survived == 1')
porquery

In [ ]:
#f
agregacion = df1[df1.Survived == 1].pivot_table(
    index=["PassengerId"],
    values=["Age"]
)
#minimo
print('Minimo',agregacion['Age'].max(),'\n')
#maximo
print('Maximo',agregacion['Age'].min(),'\n')
#contador
print('Contador',agregacion['Age'].count(),'\n')
#suma
df1.query('Pclass == 1')['Fare'].sum()
print('Suma',agregacion['Age'].sum(),'\n')
#prod
print('Promedio',agregacion['Age'].prod(),'\n')
#media
df1.query('Pclass == 2')['Age'].mean()
print('Media',agregacion['Age'].mean(),'\n')
#mediana
print('Mediana',agregacion['Age'].median(),'\n')
#modo
print('Modo',agregacion['Age'].mode(),'\n')
#desviacion estandar
print('Desviacion estandar',agregacion['Age'].std(),'\n')
#varianza
print('Varianza',agregacion['Age'].var())

In [ ]:
#g
#p/ variables numericas
df1.describe()
#p/ variables categoricas
df1['Pclass'].value_counts()

In [ ]:
#h
df1.sort_values('Age', ascending=True).head(10)

## 2.   **Clase 2**
- a) Parametros y Extraccion de datos (**URL internet**, **File local**, **convertrs**)
- b) Creador de tablas dinamicas: **Pivot Table** (index, columns, values, aggfunc)
- c) Contar registros, crear un panel de registros (diferencias y utilización de **Pivot_table()**
- d) **Concat()**, concatena dos paneles en uno solo, muy importante es que los paneles sean identicos en estructura (o sea, todas las columnas llamadas igual)
- e) **Str(), str.replace(), str.split(), map()**. Usos para transformar los datos
- f) Merge

## 3.   **Clase 3**
- a) Niveles de agregación, combinación y orden, **drop_duplicates()**
- b) Valores Nulos, **isnull()**, **any()**(evalula un elemento True)/**all()**(evalula todos elementos True) 
- c) **Dropna(inplace=bool)** metodo con el parametro se utiliza para que los metodos que se afecten a DataFrames.
- d) Tabla de todas las funciones de agregacion (clase 1)+ any y all
- e) El comportamiento "lazy evaluation", es muy importante en todos los motores de procesamiento de datos. Ejecutar las operaciones computacionalmente pesadas, sólo cuando se necesita permite hacer los procesos más eficientes. **%%timeit**
- f) GroupBy - SeriesGroupBy
- g) Agregaciones multiples dentro del uso de GroupBy esta el metdo **aggregate()** el cual se utiliza para agregar varios parametros en forma de diccionario con los nombres de las columnas y el tipo de agregación que se desea incluir (sum, mead, median, etc), el resultado de esto da un MultiIndex en vez de un Index ya que trabaja con varios indices (El objeto MultiIndex puede ser complicado para trabajar. Por eso conviene utilizar el método **reset_index()** para volver a un DataFrame común).
- h) Funcion **qcut** lo que hace es agrupar los datos por mas de una columna usando una lista de valor unico como paramentro. Por ejemplo, ubicar datos que tengan una medida de localizacion (percentil, centil, decil).

## 4.   **Clase 4**
- a) Cadenas de caracteres: **count()** contador de ocurrencias, suele trabajar con regex, **contains()** trae las filas que contienen una cadena de caracteres determinada, **lower()** transformar todos los datos en minusculas, **upper()** transformar todos los datos en mayusculas , **title()** transformar todos los datos con la primera mayuscula y el resto en minuscula, **split()** separar dos variables que se presentan en una misma columna.
- b) Organizar info: 
    - OLTP 4 objetivos: 
        - Operaciones atomicas: las transacciones se hacen o no se hacen no
         existe estado inesperado
        - Consistencia de BBDD: debe respetar una serie de restricciones
         (ejem: tarjeta de credito debe estar anclada en una cuenta existente)
        - Operaciones en aislamiento: significa que las opp no deben influir
         en el estado de la BBDD incluso si llegaran a fallar.
        - Durabilidad: que no se pierda. No habría posibilidad de revertir o 
         eliminar la transacción, solamente con una nueva operación.
    - OLAP:  se utiliza para el analisis y reporte de negocios a partri de
     agregacion de datos a fin de proveer informacion a los usuarios. La
     herramienta se conoce como "cubo de OLAP", ya que se realiza mediante
     una analisis multidimensional. Este es un array que permite ver
     informacion desde distintos angulos. Requiere un proceso de carga y
     transformacion masiva que por lo general puede durar horas e incluso dias.
- c) Tidy date
- d) **Melt()**, este metodo disminuye la cantidad de columnas del dataset, y crea dos nuevas, "varialbe" y "value", poniendo las columas con su valor asociado en dichas nuevas columnas respectivamente.
- e) Series de tiempo
    - **to_datatime()** transforma un string en un objeto de tipo Timestamp,
     este es un objeto que estandaliza las fechas en un formato unico.
    - **.between** filtra por rango de fechas (años, dias, meses)
    - Para localizar los valores de una fecha determinada se pueden crear
     columnas para cada medida de tiempo (año, mes, etc) para luego acceder
     atraves de loc['yyyy-mm-dd']
- f) Ventanas y medias moviles: para suavisar una serie, **.rolling().mean()** para calular la media de x. Para desplazar los datos x periodos se puede utiliazr Shitf, atregando una columna nueva con el dato anterior al pedido (**shift(perieodo=x)**). De manera similar el Diff el cual se puede ver la diferencia entre un periodo y el eanterior diff(x).

## 5.   **Clase 5**
- Visualizacion
    - a) Matplotlib:
    - b) World Bank Data API (Muchos datos empaquetados)
    - c) Series de tiempo
    - d) Graficos: Torta, Barras, Histograma, Diagrama de caja, Diagrama de 
     dispersión
    - e) Plotly

**CREAR UN DATASET MANUALMENTE O DESDE SERIES, NO EXTRAIDOS DIRECTAMENTE DE INTERNET**