<a href="https://colab.research.google.com/github/MatiasManchino/CursoAnalisisdeDatos/blob/main/ResumenCurso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install plotly

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px

from IPython.display import Image
from IPython.core.display import HTML 

plt.style.use('ggplot')
%matplotlib inline

In [ ]:
### datasets

df1 = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv', sep='|')
df2 = 0
df3 = 0
df4 = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/dolar_oficial_ambito.csv')
df5 = 0



> Machete para estudiar

## 1.   **Clase 1**
- a) Consultas (**columnas, filas, cantidades, informacion, descripcion, muestra de datos**)
- b) Objetos fundamentales: **Series, DataFrame, Indices**
- c) Filtrados: **columnas, filas, posicion, nombre, condiciones (el d), mixtas**.
- d) Mascaras booleanas (operadores para evaluar condiciones **(==)**, operadores para sumar condiciones **(&, |)**)
- e) Boolean con **query()**
- f) Funciones de Agregación: **min, max, count, sum, prod, mean, median, mode, std, var**.
- g) Otros: p/ variables numericas: **describe()**, p/ variables categoricas: **value_counts()**
- h) Ordenar ascendente o descendente: **sort_values()**

In [ ]:
#a
print(df1.columns,'\n\n', df1.shape)
print('\n')
df1.info()
print('\n')
df1.describe()

In [ ]:
#b
#Serie
serie = pd.Series(['a','b','c']) 
print('Tipo de objetos que tiene ', serie.dtype)
print('Nombre ', serie.name)
print('Index ',serie.index)
print('Valores ',serie.values)

print('\n')

#Dataset
print('Columnas ', df1.columns) 
print('\nIndex ', df1.index)
print('\nDimensiones ',df1.shape)

print('\n')

#indices
ind = pd.Index([2, 3, 5, 7, 11])
print('\n', ind)

#ind[1] = 0 NO SE PUEDE PORQUE ES INMUTABLE

In [ ]:
#c
#por columnas:
porcolumnas = df1.loc[:,['Age','Survived']]
print(porcolumnas.head())

porcolumnas1 = df1[['Age','Survived']]
print(porcolumnas1.head())

#filas
filas = df1.loc[[1,8],:]
print(filas.head())

#posicion
posicion = df1 ['Age'][2]
print('\n',posicion)

In [ ]:
#d
#mascaras + condiciones & | ~

mascara = df1['Age'] < 3
print('\n', mascara) # false todo lo que no cumpla con la condicion

porcondiciones = df1[(df1['Age'] < 3) & (df1['Survived'] == 1)]
print('\n',porcondiciones)

In [ ]:
#e 
#Query
porquery = df1.query('Age < 3 & Survived == 1')
porquery

In [ ]:
#f
agregacion = df1[df1.Survived == 1].pivot_table(
    index=["PassengerId"],
    values=["Age"]
)
#minimo
print('Minimo',agregacion['Age'].max(),'\n')
#maximo
print('Maximo',agregacion['Age'].min(),'\n')
#contador
print('Contador',agregacion['Age'].count(),'\n')
#suma
df1.query('Pclass == 1')['Fare'].sum()
print('Suma',agregacion['Age'].sum(),'\n')
#prod
print('Promedio',agregacion['Age'].prod(),'\n')
#media
df1.query('Pclass == 2')['Age'].mean()
print('Media',agregacion['Age'].mean(),'\n')
#mediana
print('Mediana',agregacion['Age'].median(),'\n')
#modo
print('Modo',agregacion['Age'].mode(),'\n')
#desviacion estandar
print('Desviacion estandar',agregacion['Age'].std(),'\n')
#varianza
print('Varianza',agregacion['Age'].var())

In [ ]:
#g
#p/ variables numericas
df1.describe()
#p/ variables categoricas
df1['Pclass'].value_counts()

In [ ]:
#h
df1.sort_values('Age', ascending=True).head(10)

## 2.   **Clase 2**
- a) Parametros y Extraccion de datos (**URL internet**, **File local**, **convertrs**)
- b) Creador de tablas dinamicas: **Pivot Table** (index, columns, values, aggfunc)
- c) Contar registros, crear un panel de registros (diferencias y utilización de **Pivot_table()**) estructura comun de un panel: 1 o + var numericas, 1 tempo, 1 o + no tempo
- d) **Concat()**, concatena dos paneles en uno solo, muy importante es que los paneles sean identicos en estructura (o sea, todas las columnas llamadas igual)
- e) **Str(), str.replace(), str.split(), map()**. Usos para transformar los datos
- f) Merge

In [ ]:
#a

converters = {
    "residencia_provincia_id": lambda x: str(x).zfill(2),
    "departamento_provincia_id": lambda x: str(x).zfill(3),
    "codigo_indec_provincia": lambda x: str(x).zfill(2),
    "codigo_indec_departamento": lambda x: str(x).zfill(3),
}
CASOS_URL_S3 = "https://datasets-humai.s3.amazonaws.com/datasets/covid_casos.zip"
DETERMINACIONES_URL_S3 = "https://datasets-humai.s3.amazonaws.com/datasets/covid_determinaciones.csv"

casos = pd.read_csv(CASOS_URL_S3, converters=converters)
deter = pd.read_csv(DETERMINACIONES_URL_S3, converters=converters)

In [ ]:
#b
#pivot_table()
casos.head()
print(casos.sexo.unique())
porprov = casos[(casos.clasificacion_resumen == 'Sospechoso') | (casos.clasificacion_resumen == 'Confirmado') | (casos.clasificacion_resumen == 'Descartado') ].pivot_table( 
    index=['residencia_provincia_nombre'],
    values=['id_evento_caso'],
    aggfunc="count"
)
porprov.sort_values("id_evento_caso", ascending=False)
casos.fallecido.value_counts()

In [ ]:
porprov = casos[(casos.clasificacion_resumen == 'Confirmado') & (casos.fallecido == 'SI')].pivot_table( 
    index=['residencia_provincia_nombre'],
    values=['fallecido'],
    aggfunc="count"
)
porprov.sort_values('fallecido', ascending=False)

In [ ]:
#c
#panel de registro
panel_reg = casos[casos.clasificacion_resumen == 'Confirmado'].pivot_table(
    index=[
           'residencia_provincia_id',
           'residencia_provincia_nombre',
           "fecha_diagnostico"
    ],
    values=['id_evento_caso'],
    aggfunc="count"
).reset_index()


panel = panel_reg.pivot_table(
    index=['fecha_diagnostico'],
    columns= ['residencia_provincia_nombre'],
    values= ['id_evento_caso'],
    aggfunc= ["sum"]
)
panel.plot(figsize=(35, 10))
panel

In [ ]:
#d
#Concatenar
panel_reg_sos = casos[casos.clasificacion_resumen == 'Sospechoso'].pivot_table( #Aca lo distinto esta en la condicion
    index=[
           'residencia_provincia_id',
           'residencia_provincia_nombre',
           "fecha_diagnostico"
    ],
    values=['id_evento_caso'],
    aggfunc="count"
).reset_index()

panel_reg_fall = casos[casos.clasificacion_resumen == 'Confirmado'].pivot_table(
    index=[
           'residencia_provincia_id',
           'residencia_provincia_nombre',
           "fecha_fallecimiento" #aca lo distinto esta en eeste indice
    ],
    values=['id_evento_caso'],
    aggfunc="count"
).reset_index()
#----------------------------------------------------------
#ahora acomodar para que se esan igual estructuralemente:
panel_reg['estado'] = 'confirmados'
panel_reg = panel_reg.rename(columns={
    'fecha_diagnostico': 'fecha',
    'id_evento_caso': 'casos'
})
panel_reg_sos['estado'] = 'sospechoso'
panel_reg_sos = panel_reg_sos.rename(columns={
    'fecha_diagnostico': 'fecha',
    'id_evento_caso': 'casos'
})
panel_reg_fall['estado'] = 'fallecido'
panel_reg_fall = panel_reg_fall.rename(columns={
    'fecha_fallecimiento': 'fecha',
    'id_evento_caso': 'casos'
})
#----------------------------------------------------------
#ha concatenar!!!! 
panel_concatenado = pd.concat([panel_reg, panel_reg_fall, panel_reg_sos])
panel_concatenado

In [ ]:
#graficamos
panel_graf = panel_concatenado.pivot_table(
    index=['fecha'],
    columns= ['residencia_provincia_nombre'],
    values= ['casos'],
    aggfunc= ["sum"]
)
panel_graf.plot(figsize=(35, 10))

In [ ]:
#e
#reemplazo
panel_concatenado = panel_concatenado.rename( #de columnas
    columns={'residencia_provincia_id':'id',
             'residencia_provincia_nombre': 'prov'})

panel_concatenado['prov'] = panel_concatenado.prov.str.replace( #de datos
    'CABA', 'Capital_Federal'
)
panel_concatenado['prov'] = panel_concatenado.prov.map({
    'Capital_Federal': "Cap_Fed",
    'Tucumán': 'Tucu'}
)
panel_concatenado

In [ ]:
#split() Separar una columna en varias usando algun separador
panel_concatenado['anno'],\
 panel_concatenado['mes'],\
  panel_concatenado['dia'] = panel_concatenado.fecha.str.split('-').str

#eliminamos la columna 'fecha'
panel_concatenado = panel_concatenado.drop(columns= ['fecha']) 

panel_concatenado

In [ ]:
#f
#merge 4 tipós distintos: 'left join', 'right join', 'inner join', 'outer join'

In [ ]:
panel_merge = pd.concat([panel_reg, panel_reg_fall, panel_reg_sos])
panel_merge = panel_merge.rename( #de columnas
    columns={'residencia_provincia_id':'id',
             'residencia_provincia_nombre': 'provincia'})
Image(url= "https://datasets-humai.s3.amazonaws.com/datasets/joins.png")

In [ ]:
#tengo que ver en que coniciden los dos dataset y luego generar dos paneles 
#con la misma estructura (al igual que en la concatenacion)

print(deter.columns, panel_merge.columns)


#comparten fecha y provincia
pan_deter = deter.pivot_table(
    index=['codigo_indec_provincia', "fecha"],
    values='total',
    aggfunc='sum'
).reset_index()
#pan_deter = pan_deter.rename(columns={'total':'casos'})
pan_deter = pan_deter.rename(columns={'codigo_indec_provincia':'id'})

#estrutruturo el panel de caso para el merge
pan_caso = panel_merge.pivot_table(
    index=['id', "fecha"],
    values='casos',
    aggfunc='sum'
).reset_index()

In [ ]:
test_casos = pan_caso.merge(
    pan_deter,
    left_on=["id", 'fecha'],
    right_on=["id", 'fecha']
)
test_casos = test_casos.rename(
    columns={"total": "tests"}
)
test_casos1 = pan_caso.merge(
    pan_deter,
    how='inner'
    #right_on=["id", 'fecha']
)
test_casos1

In [ ]:
fig = px.histogram(test_casos1, x="total")
fig.show()

## 3.   **Clase 3**
- a) Niveles de agregación, combinación y orden, **drop_duplicates()**
- b) Valores Nulos, **isnull()**, **any()**(evalula un elemento True)/**all()**(evalula todos elementos True) 
- c) **Dropna(inplace=bool)** metodo con el parametro se utiliza para que los metodos que se afecten a DataFrames.
- d) Tabla de todas las funciones de agregacion (clase 1)+ any y all
- e) El comportamiento "lazy evaluation", es muy importante en todos los motores de procesamiento de datos. Ejecutar las operaciones computacionalmente pesadas, sólo cuando se necesita permite hacer los procesos más eficientes. **%%timeit**
- f) GroupBy - SeriesGroupBy
- g) Agregaciones multiples dentro del uso de GroupBy esta el metdo **aggregate()** el cual se utiliza para agregar varios parametros en forma de diccionario con los nombres de las columnas y el tipo de agregación que se desea incluir (sum, mead, median, etc), el resultado de esto da un MultiIndex en vez de un Index ya que trabaja con varios indices (El objeto MultiIndex puede ser complicado para trabajar. Por eso conviene utilizar el método **reset_index()** para volver a un DataFrame común).
- h) Funcion **qcut** lo que hace es agrupar los datos por mas de una columna usando una lista de valor unico como paramentro. Por ejemplo, ubicar datos que tengan una medida de localizacion (percentil, centil, decil).

In [ ]:
#a
#Limpieza de datos
#Elimina duplicados
df2 = pd.DataFrame(
    {
        'a':[1,12,3,443,25,6,73,8,9,10],
        'b':[1,11,21,1,1,13,1,13,1,1],
        'c':[1,1,1,1,1,1,1,1,1,1],
        'd':[1,1,3,4,5,6,7,8,9,0]
    }
)
df2[['c','b']]#.drop_duplicates().sort_values('a')

In [ ]:
df2[['c','b']].drop_duplicates()#.sort_values('a')

In [ ]:
#b
#Valores nulos any() all()
df2 = pd.DataFrame(
    {
        'a':['Uno', np.nan, 'dos', 'veinte', 'treinta', np.nan],
        'b':['Uno', 'Doce', 'treinta', 'diez', 'treinta', 'treinta'],
        'c':['Nueve', 'treinta', 'dos', 'treinta', 'Dos', 'treinta'],
        'd':['tres', 1, np.nan, 'cuatro', 'treinta', 'Cinco']
    }
)
df2.isnull()

In [ ]:
df2[df2.isnull().any(axis=1)] # df2[~(df2.notnull().all(axis=1))] ES LO MISMO

In [ ]:
#c
df2.dropna(inplace=True) #Elimina las filas que tienen NaN
df2

## Funciones de Agregación simple
#d

| Nombre             | Versión que descarta NaN | Descripción                            |
|--------------------|--------------------------|----------------------------------------|
| serie.sum()        | serie.sum(skipna=True)   | Suma todos los elementos               |
| serie.prod()       | serie.prod(skipna=True)  | Multiplica                             |
| serie.mean()       | serie.mean(skipna=True)  | Promedia                               |
| serie.std()        | serie.std(skipna=True)   | Calcula el desvío estándar             |
| serie.var()        | serie.var(skipna=True)   | Calcula la varianza                    |
| serie.min()        | serie.min(skipna=True)   | Calcula el valor mínimo                |
| serie.max()        | serie.max(skipna=True)   | Calcula el valor máximo                |
| serie.argmin()     | serie.argmin(skipna=True)| Calcula el índice del valor mínimo     |
| serie.argmax()     | serie.argmax(skipna=True)| Calcula el índice del valor máximo     |
| serie.median()     | serie.median(skipna=True)| Calcula la mediana                     |
| X                  | serie.quantile()         | Calcula los percentiles                |
| serie.any()        | X                        | Evalúa si algún elemento es TRUE       |
| serie.all()        | X                        | Evalúa si todos los elementos son TRUE |

In [ ]:
#e

In [ ]:
#f

In [ ]:
from pandas.core.groupby import groupby
#g
dfd = pd.DataFrame(
    {
        'a':['aaa', 'zz', 'cc', 'dd', 'ee', 'ff'],
        'b':['Uno', '2', 'treinta', 'diez', 'treinta', 'treinta'],
        'c':[423, 4231, 2, 32, 13, 5122],
        'd':[2323, 1, 321, 23, 3213, 44],
        'e':['Uno', '321', 'dos', 'veinte', 'treinta', 'np.na'],
        'f':['Uno', '65', 'treinta', 'diez', 'treinta', 'treinta'],
        'g':[23, 23, 41, 3, 1, 4],
    }
)
dfd.groupby('a').aggregate({ 'b':'sum',
                             'c':'mean',
                             'd':'sum',
                             'g':['mean','median','size']})

In [ ]:
#h
dfd['Decil_Paro'] = pd.qcut(dfd['c'], 10, labels=range(1,11))
dfd

## 4.   **Clase 4**
- a) Cadenas de caracteres: **count()** contador de ocurrencias, suele trabajar con regex, **contains()** trae las filas que contienen una cadena de caracteres determinada, **lower()** transformar todos los datos en minusculas, **upper()** transformar todos los datos en mayusculas , **title()** transformar todos los datos con la primera mayuscula y el resto en minuscula, **split()** separar dos variables que se presentan en una misma columna.
- b) Organizar info: 
    - OLTP 4 objetivos: 
        - Operaciones atomicas: las transacciones se hacen o no se hacen no
         existe estado inesperado
        - Consistencia de BBDD: debe respetar una serie de restricciones
         (ejem: tarjeta de credito debe estar anclada en una cuenta existente)
        - Operaciones en aislamiento: significa que las opp no deben influir
         en el estado de la BBDD incluso si llegaran a fallar.
        - Durabilidad: que no se pierda. No habría posibilidad de revertir o 
         eliminar la transacción, solamente con una nueva operación.
    - OLAP:  se utiliza para el analisis y reporte de negocios a partri de
     agregacion de datos a fin de proveer informacion a los usuarios. La
     herramienta se conoce como "cubo de OLAP", ya que se realiza mediante
     una analisis multidimensional. Este es un array que permite ver
     informacion desde distintos angulos. Requiere un proceso de carga y
     transformacion masiva que por lo general puede durar horas e incluso dias.
- c) Tidy date
- d) **Melt()**, este metodo disminuye la cantidad de columnas del dataset, y crea dos nuevas, "varialbe" y "value", poniendo las columas con su valor asociado en dichas nuevas columnas respectivamente.
- e) Series de tiempo
    - **to_datatime()** transforma un string en un objeto de tipo Timestamp,
     este es un objeto que estandaliza las fechas en un formato unico.
    - **.between** filtra por rango de fechas (años, dias, meses)
    - Para localizar los valores de una fecha determinada se pueden crear
     columnas para cada medida de tiempo (año, mes, etc) para luego acceder
     atraves de loc['yyyy-mm-dd']
- f) Ventanas y medias moviles: para suavisar una serie, **.rolling().mean()** para calular la media de x. Para desplazar los datos x periodos se puede utiliazr Shitf, atregando una columna nueva con el dato anterior al pedido (**shift(perieodo=x)**). De manera similar el Diff el cual se puede ver la diferencia entre un periodo y el eanterior diff(x).

In [ ]:
#a
#df["Texto"].str.count("-").head()
df4 = pd.DataFrame(
    {
        'a':['aa', 'bb', 'cc', 'dd', 'ee', 'ff','gg','hh','ii','jj'],
        'b':['Uno', '2', 'treinta','Uno', '321', 'dos', 'treinta', 'diez', 'treinta', 'treinta'],
        'c':[423, 421, 2, 32, 13, 5122, 4231, 2, 32, 13],
        'd':[2323, 1, 64, 23, 3213, 44, 4231, 2, 32, 13],
        'e':['Uno', '321','Uno', '321', 'dos', 'dos', 'treinta', 'veinte', 'treinta', 'np.na'],
        'f':['Uno', '65','Uno', '321', 'dos', 'treinta', 'diez', 'treinta', 'treinta', 'treinta'],
        'g':[23, 23, 41, 3, 1, 4,23, 41, 3, 1],
        'h':['aaa','Uno', '321', 'dos', 'zz', 'cc','Uno', '321', 'dos', 'dd'],
        'i':['Uno', '2', 'treinta','Uno', '321', 'dos', 'diez', 'treinta', 'ocho' , 'treinta'],
        'j':[423, 423, 2, 32, 13, 5122, 431, 2, 32, 3],
        'k':[2323, 1, 321, 64, 3213, 44, 4231, 64, 32, 13],
        'l':['Uno', '321', 'dos','Uno', '321', 'dos', 'veinte', 'treinta','ocho', 'np.na'],
        'm':['Uno', '65', 'treinta', 'diez','65', 'treinta', 'diez', 'treinta', 'treinta', 'treinta'],
        'n':[23, 23, 41, 3, 1, 4, 4231, 2, 32, 13]
    }
)
df4["e"].str.count('vei') #DONDE APARECE Y CUANTAS
df4["e"].str.count('o').value_counts()
df4['e'][df4["e"].str.count('t') ==2] #Los casos donde aparece dos veces

In [ ]:
#conteinrs
df4[df4["f"].str.contains("ie",case=False)] #trae tidas las filas dnde aparece una 'ie' en la columna 'f'

In [ ]:
#mayusculas, minusculas y titulo
may = df4["e"].str.upper()
may

In [ ]:
min = may.str.lower()
min

In [ ]:
Tit = min.str.title()
Tit

In [ ]:
#b

In [ ]:
#c

In [ ]:
#d

In [ ]:
#e

In [ ]:
#f

## 5.   **Clase 5**
- Visualizacion
    - a) Matplotlib:
    - b) World Bank Data API (Muchos datos empaquetados)
    - c) Series de tiempo
    - d) Graficos: Torta, Barras, Histograma, Diagrama de caja, Diagrama de 
     dispersión
    - e) Plotly

In [ ]:
#a

In [ ]:
#b

In [ ]:
#c

In [ ]:
#d

In [ ]:
#e

**CREAR UN DATASET MANUALMENTE O DESDE SERIES, NO EXTRAIDOS DIRECTAMENTE DE INTERNET**